/*
 * Naming conventions: BEM with prefix "b" (b comes from bem).
 * Using this method can also separate the custom css rules from bootstrap's
 * rules.
 * Form:
 * block--modifier__element

 */
@import url('https://fonts.googleapis.com/css?family=Lato:400,300,300i');
$lato : 'Lato', serif;


// Overall

.font-smooth {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing:grayscale;
}

body {
    width: 100%;
    margin: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.ssp-container {
    flex: 1;
    margin-top: 12px;
}

.header, .ssp-footer {
    flex: none;
}

a {
    border: 1px solid transparent;
    @extend .font-smooth;
    &:hover, &:active, &:focus {
        color: $link-color-hover;
        text-decoration: none;
    }
}
*:focus {
    outline: none !important;
    border:1px solid $silver !important;
    box-shadow: 0 0 10px $btn-action !important;
}

form {
    margin: 0;
}


// Headings
// No use of bem, when we want to override every instance of them

$headers-font-weight: 500;
$headers_margin_top: 10px;

.ssp-logo {
    margin-top: $headers_margin_top;
    a {
        display: inline-block;
        padding: 10px;
        &:hover {
            text-decoration: none;
        }
    }
    img {
       height: $logo-height;
    }
}

.headers-text {
    @extend .font-smooth;
    font-family: "Lato",serif;
    letter-spacing: 2px;
    font-weight: $headers-font-weight;
    color: $headers-color;
    margin-top: $headers_margin_top;
}

h1 {
    @extend .headers-text;
    font-size: 30px;
    text-transform: none!important;
    margin-bottom: 0;
}


h1 small {
    display: block;
    font-size: 14px;
    line-height: 1.4;
    color: #ccc;
    text-transform: none;
    letter-spacing: 0;
    font-style: italic;
    margin-top: 10px;
}

h2 {
    @extend .headers-text;
    font-size: 22px;
    text-transform: none!important;
}

h3 {
    @extend .headers-text;
    font-size: 14px;
    text-transform: uppercase;
}

h4 {
    @extend .headers-text;
    font-size: 14px;
}

h5, h6 {
    @extend .headers-text;
}

h2.subtle {
    font-size: 18px;
    font-weight: 300;
    font-family: $lato;
    letter-spacing: 2px;
    small {
        color: #ccc;
        display: block;
        font-size: 14px;
        margin-top: 10px;
    }
}

// Bottom

.ssp-footer {
    @extend .font-smooth;
    background: $footer-bg;
    color: $footer-text;
    font-weight: 300;
    &--container {
        padding: 16px;
    }
}

.ssp-lang-container {
    position: absolute;
    left: 30px;
}

@media screen and (max-width: 600px) {
    .ssp-lang-container {
        position: static;
    }
}


// Buttons

$margin-btn: 2px;
$btn-distance: 12px;
.ssp-btn {
    @extend .font-smooth;
    letter-spacing: 1px;
    font-size: 11px;
    padding: 12px 18px;
    line-height: 1.4;
    border-radius: 0;
    border: 1px solid;
    margin: $margin-btn;
    white-space: normal;
    .caret {
        margin-left: 12px;
    }
    @at-root &__action {
        background-color: $white;
        color: darken($btn-action, 10%);
        border-color: $btn-action;
        &:focus, &:active {
            background-color: $btn-action;
            color: $white;
            border-color: transparent;
        }
        &:hover {
            background-color: $btn-action;
            color: $white;
            border-color: transparent;
        }
    }
    @at-root &__secondary {
        background-color: $white;
        color: $gray;
        border-color: $mouse;
        &:focus, &:active {
            background-color: $mouse;
            color: $white;
            border-color: transparent;
        }
        &:hover {
            background-color: $mouse;
            color: $white;
            border-color: transparent;
        }
    }
    @at-root &__warning {
        background-color: $white;
        color: $btn-warning;
        border-color: $btn-warning;
        &:focus, &:active {
            background-color: $btn-warning;
            color: $white;
            border-color: transparent;
        }
        &:hover {
            background-color: $btn-warning;
            color: $white;
            border-color: transparent;
        }
    }
    @at-root &__footer {
        background-color: transparent;
        color: $btn-footer;
        border-color: transparent;
        &:focus, &:active, &:hover {
            color: $link-color-hover;
            border-color: $silver;
        }
    }
    $btn-img-height: 36px;
    $btn-img-copy-height: 20px;
    &--round-icon {
        padding: 0;
        display: inline-block;
        margin-right: $btn-distance*2;
        margin-top: $btn-distance/2;
        border-radius: $btn-img-height/2;
        img {
            height: $btn-img-height;
            border-radius: $btn-img-height/2;
        }
    }
    &--copy {
        img {
            height: $btn-img-copy-height;
        }
    }
}

.ssp-btns-container {
    text-align: center;
    @at-root &--btn__right.ssp-btn {
        margin-left:  $btn-distance;
    }
    @at-root &--btn__left.ssp-btn {
        margin-right: $btn-distance;
    }
}


.ssp-dropdown__two_cols {
    width: 320px;
    padding: 6px;
    @at-root &--item {
        width: 50%;
        float: left;
        display: inline-block;
        height: 30px;
    }
}

.ssp-btn__show-more {
    color: $text-color;
    &:hover {
        color: $jacksons-purple;
    }

}

// Content

.ssp-content-group {
    margin-bottom: 6px;
    padding: 12px 42px;
    &__provider-list {
        overflow: auto;
        &--edugain {
            padding: 6px 6px 6px 42px;
            height: 23vh;
            a {
                display: block;
                position: relative;
                padding: 4px 12px;
                &:hover {
                    background-color: $alabaster;
                }
            }
        }
        &--other {
            padding: 2px 6px 2px 54px;
            a {
                display: inline-block;
                position: relative;
                padding: 0;
            }
        }
    }
}

.ssp-attrs--container {
    padding: 16px;
    margin-bottom: 32px;
}

.ssp-table {
    margin-bottom: 0;
    font-size: 13px;
    @at-root &--tr__odd {
        background-color: lighten($alabaster, 1%);
    }
    @at-root &--attrname {
        width: 35%;
        overflow: hidden;
        float: left;
        word-break: break-word;
        text-align: right;
        padding-right: 20px;
        font-weight: bold;
    }
    @at-root &--attrvalue {
        overflow: hidden;
        word-break: break-word;
        @at-root &--list--item {
            border-bottom: 1px solid $gray-lighter;
            padding: 6px 0;
        }
    }
}

.ssp-or {
    font-size: 22px;
    color: $manatee;
    margin: 15px;
}

body .ssp-modal-body {
    padding: 30px;
}

.ssp-error-code {
    padding: 18px;
    white-space: pre-line;
}

.form-control ~span {
    color: $state-danger-text;
    font-size: 13px;
    display: none;
}

.error-mandatory input,
.error-mail input {
    border-color: $alert-danger-text;
}

.error-mandatory span.mandatory {
    display: block;
}

.error-mail span.mail {
    display: block;
}
