// background color of primary button
$btn-action: $cerulean;
$btn-warning: $punch;
$footer-bg: $white;
$footer-text: #333;
$headers-color: $scorpion;
$link-color-hover: $punch;
// text and border color of button that is in the footer
$btn-footer: #333;

$logo-height: 65px;
