// background color of primary button
$btn-action: $tradewind; // #68b8b3
$btn-warning: $carrot-orange;
$footer-bg: $white;
$footer-text: #333;
$footer-link: $tradewind;
// text and border color of button that is in the footer
$btn-footer: #333;

$logo-height: 60px;
